Bella Outlook Plugin.json
{
  "name": "Bella Outlook Plugin",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bella-outlook",
        "authentication": "none",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://bel-prd-vision-prj.web.app"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "64813af1-8663-4022-8b6c-e32d40aabef0",
      "name": "Webhook",
      "webhookId": "122540d2-c7f2-453f-85f3-c97460ab22d3"
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "bella-outlook",
        "authentication": "none",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 200],
      "id": "f1e2d3c4-b5a6-7890-fedc-ba0987654321",
      "name": "Webhook OPTIONS",
      "webhookId": "222540d2-c7f2-453f-85f3-c97460ab22d3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 204,
        "responseBody": "",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://bel-prd-vision-prj.web.app"
              },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Authorization, Content-Type" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [240, 200],
      "id": "e2d3c4b5-a6f7-8901-edcb-a09876543210",
      "name": "Respond OPTIONS"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://login.microsoftonline.com/0bfce6b5-cf85-4dfd-98ac-813dd7557140/discovery/v2.0/keys",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [240, 0],
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Fetch JWKS"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst CLIENT_ID = 'a8dd5b63-9bee-4d1a-a5f0-aa5187edf82f';\n\nconst webhookData = $('Webhook').item.json;\nconst jwks = $('Fetch JWKS').item.json;\n\nconst authHeader = webhookData.headers?.authorization ?? '';\nif (!authHeader.startsWith('Bearer ')) {\n  return [{ json: { error: 'Missing Bearer token', status: 401 } }];\n}\n\nconst token = authHeader.slice(7);\nconst parts = token.split('.');\nif (parts.length !== 3) {\n  return [{ json: { error: 'Malformed JWT', status: 401 } }];\n}\n\nlet header, payload;\ntry {\n  header = JSON.parse(Buffer.from(parts[0], 'base64url').toString());\n  payload = JSON.parse(Buffer.from(parts[1], 'base64url').toString());\n} catch {\n  return [{ json: { error: 'Invalid JWT structure', status: 401 } }];\n}\n\nconst now = Math.floor(Date.now() / 1000);\nif (payload.exp && payload.exp < now) {\n  return [{ json: { error: 'Token expired', status: 401 } }];\n}\n\nif (payload.aud !== CLIENT_ID) {\n  return [{ json: { error: `Invalid audience: ${payload.aud}`, status: 403 } }];\n}\n\nconst jwk = jwks.keys?.find(k => k.kid === header.kid);\nif (!jwk) {\n  return [{ json: { error: `Key not found for kid: ${header.kid}`, status: 401 } }];\n}\n\ntry {\n  const pubKey = crypto.createPublicKey({ key: { kty: jwk.kty, n: jwk.n, e: jwk.e }, format: 'jwk' });\n  const signingInput = `${parts[0]}.${parts[1]}`;\n  const signature = Buffer.from(parts[2], 'base64url');\n  const valid = crypto.verify('sha256', Buffer.from(signingInput), { key: pubKey, padding: crypto.constants.RSA_PKCS1_PADDING }, signature);\n  if (!valid) {\n    return [{ json: { error: 'Invalid signature', status: 401 } }];\n  }\n} catch (err) {\n  return [{ json: { error: `Signature verification failed: ${err.message}`, status: 401 } }];\n}\n\nreturn [{ json: { ...webhookData, jwtPayload: payload, jwtValid: true } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Validate JWT (JWKS)"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-valid",
              "leftValue": "={{ $json.jwtValid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [720, 0],
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "JWT Valid?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={{ JSON.stringify({ error: $json.error }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://bel-prd-vision-prj.web.app"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [960, 120],
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Reject (401/403)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-985953980051.europe-west1.run.app/webhook/bella/concierge",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "GAESA=CrQBMDAwN2I3MzRkOWMyZjJmNDEyOWU2YmQ4MTkzODE5MWY0YmJhYjQ1Mzg3Y2RmZTUyMWI0ZDlmZWZmMzJlZDA3MTdjZGE5NmI5NTU0MWFiMDU1NDY2NTM0OTI4Yjk0Yzg2ZmI0MzdmM2Q5ODg3NzU5MWQ2Njg1MWUxZDViYjgzMWMxNWM1N2Q3MzkyMjA1MzRlZjVjYzZmZjk1ZmRmNzE0ODM0NjhmOWE2ZDAxOGE4YjY5ODdjEJKVjdzkMw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=={{ $('Validate JWT (JWKS)').item.json.body.emailSubject + ' — ' + $('Validate JWT (JWKS)').item.json.body.emailBody }}"
            },
            {
              "name": "product_code",
              "value": "LRS"
            },
            {
              "name": "vision",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [960, -96],
      "id": "1ad8f94c-152f-4fe5-91c4-de0b5db8a26a",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "tUHPf1D93rmt9Cp8",
          "name": "Unnamed credential"
        },
        "httpHeaderAuth": {
          "id": "djwg9AqZa55jbbuW",
          "name": "bella n8n auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://bel-prd-vision-prj.web.app"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1200, -96],
      "id": "c3e12ab5-fd32-4efd-9238-dd3f1cda800f",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Fetch JWKS", "type": "main", "index": 0 }]]
    },
    "Webhook OPTIONS": {
      "main": [[{ "node": "Respond OPTIONS", "type": "main", "index": 0 }]]
    },
    "Fetch JWKS": {
      "main": [[{ "node": "Validate JWT (JWKS)", "type": "main", "index": 0 }]]
    },
    "Validate JWT (JWKS)": {
      "main": [[{ "node": "JWT Valid?", "type": "main", "index": 0 }]]
    },
    "JWT Valid?": {
      "main": [
        [{ "node": "HTTP Request", "type": "main", "index": 0 }],
        [{ "node": "Reject (401/403)", "type": "main", "index": 0 }]
      ]
    },
    "HTTP Request": {
      "main": [[{ "node": "Respond to Webhook1", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9847a23b-b95c-405b-b3bc-a0985f1b5acf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a1fa60afc21663019d9c274e92b7c147c0237cb81c909dd56d6d7ef838269358"
  },
  "id": "373wLM5wy2DejJyB",
  "tags": []
}
